 h1 {
 	color: orange;
 	background-color: black;
}
  body {
      position: relative; 
  }
  #section1 {
  	padding-top:60px;
  	height:700px;
  	color: #fff; 
  	background-color: #3ad1ff;
  	width: auto;
  }
  #section2 {
  	padding-top:60px;
  	height:500px;
  	color: #fff;
  	background-color: #f9f9f9;
  }
  #section3 {
  	padding-top:60px;
  	height:500px;
  	color: #fff; 
  	background-color: #ff9800;
  }
  #section4 {
  	padding-top:60px;
  	height:500px;
  	color: #fff; 
  	background-color: #00bcd4;
  }
.navbar-default {
	background-color: rgba(13, 48, 51, 0.5);
	border: none;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 10px;
	
}
.navbar-default {
	padding-top: 5px;
	padding-bottom: 5px;
}
#myNavbar {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.4px;
	padding-right: 250px;
}
@media screen and (max-width: 850px){
    #myNavbar {
        padding-right: 15px;
    }
   }
   .banner {
   	/*margin-right: 25%;
   	margin-left: 25%;
   	margin-top: 15%;
   	
   	display: block;*/
   	text-align: center;
   	background-color: rgba(13, 48, 51, 0.5);
   	padding: 15px 10px 10px 10px;
   	border-width: 1px;
   	border-color: grey;
   	border-style: solid;
   	   }
.bannerText {
  font: 400 24px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}