
  body {
      position: relative; 
  	}
  #section1 {
  	padding-top:60px;
  	height:670px;
  	color: #fff; 
  /*	background-color: #3ad1ff;
  	width: auto;
  	background-image: url('images/back.jpg'); 
  	background-size: auto;*/


background: #7474BF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  	}
  #section2 {
  	padding-top:60px;
  	height:500px;
  	color: #fff;
  	border-top: 1px;
  	border-bottom: 1px;
  	border-bottom-style: solid;
  	border-top-style: solid;
  	border-color: black;
  	background: url("https://subtlepatterns.com/patterns/footer_lodyas.png");
  	}
  #section3 {
  	padding-top:60px;
  	height:500px;
  	color: #fff; 
  	background-color: #ff9800;
  	}
  #section4 {
  	padding-top:60px;
  	height:500px;
  	color: #fff; 
  	background-color: #00bcd4;
 	}
.navbar-default {
	background-color: rgba(13, 48, 51, 0.5);
	border: none;
	}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 10px;
	
	}
.navbar-default {
	padding-top: 5px;
	padding-bottom: 5px;
	}
#myNavbar {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.4px;
	padding-right: 250px;
}
@media screen and (max-width: 850px){
    #myNavbar {
        padding-right: 15px;
    }
   }
.banner {
   	/*margin-right: 25%;
   	margin-left: 25%;
   	margin-top: 15%;*/
   	text-align: center;
   	/*display: block;*/
   	background-color: rgba(13, 48, 51, 0.5);
   	padding: 15px 10px 10px 10px;
   	border-width: 1px;
   	border-color: grey;
   	border-style: solid;
   	   }
.bannerText {
  font: 400 24px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	}
.portofoliu {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-decoration: underline;

}
.fade {
/*	opacity: 0.8*/
	background-color: #3c6e71;
}
/*.thumb {
	max-height: 200px;
	min-width: 150px;
}*/
.soc {
	padding-right: 0px;
	padding-left: 0px;
}
.test {
	padding-right: 30px;
}

